<!DOCTYPE html>
<head>  
    <title>{{ title }} </title>
    <link rel = "stylesheet" href="../static/style.css">
    </head>
    <body>
        <h2> Etch-a-Sketch</h2>
        <h3> Commands </h3>        
        <a href="/UpPRESS" class="button">UP</a>
        <br> 
        <a href="/DownPRESS" class="button">DOWN</a>
        <br> 
        <a href="/RightPRESS" class="button">RIGHT</a>      
        <br> 
        <a href="/LeftPRESS" class="button">LEFT</a>
        <br> 
        <a href="/ClearPRESS" class="button">CLEAR</a>
    </body>
    </html>